.menu2{
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    justify-content: space-between;
}
.menu_butons2{
    width: 15%;
    height: 60px;
    background: rgb(161, 2, 2);
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: cursive;
}
.nasva2{
 width: 25%;
 height: 60px;
 background: green;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 50px;
 font-family: cursive;
 margin-right: 43%;
}
.text{
    width: 100%;
    height: 1000px;
    background: url();
    background-size: 130%,130%;
    color: black;
    font-size: 30px;
    font-family: cursive;
}
.hyperlink2{
    text-decoration: none;
}
.kartinka1{
    width: 500px;
    height: 400px;
    background: red;
}
.img{
    width: 100%;
    height: 100%;
}
.kartinka2{
    width: 500px;
    height: 400px;
    background: red;
}
.img2{
    width: 100%;
    height: 100%;
}
.gallerry_1{
    display: flex;
    justify-content: space-evenly;
}
.kartinka3{
    width: 500px;
    height: 400px;
    background: red;
}